<div class="media comment">
  <div class="media-left">
    <!-- <%= image_tag(comment.user.avatar.url(:thumb),class: 'img-circle') %> -->
  </div>
  <div class="media-body">
    <!-- <p>
      <%= comment.content %>
  </p> -->
    <span class="comment-timestamp">
      <!-- Comment timestamp pull-right -->
    </span>
  <div>
</div>
