<div class="container">
  <div class="row">
  	<div class="col-md-3">
  		<%= image_tag(current_user.avatar.url(:medium), class: 'img-responsive user-avatar-userpage') %>
		<div class="user-info">
			<h4><%= link_to current_user.name, userpage_path(current_user.username) if current_user.name.present? %></h4>
			<span><%= link_to "@#{current_user.username}", userpage_path(current_user.username) %></span>
		</div>
  	</div>
    <div class="col-md-6">
      <%= render partial: 'posts/post', collection: @posts %>
    </div>
  </div>
</div>
