.comment-form
{
  margin-top: 20px;

  form
  {
      .form-control
      {
        border-radius: 0.1em;
        border:1px solid #e9e9e9;
        box-shadow: none;
      }

      input[type="submit"]
      {
        display:none;
      }
  }
}

.post-comments
{
  margin: 0px -10px;
  padding: 5px 10px;
  background-color: rgb(250, 250, 250);
  line-height: 2;
  border-top: 1px solid #e9e9e9;
  margin-bottom: -10px;

  .comment
  {
    line-height: 2;
    text-align: left !important;
  }
  .comment-body
  {
    text-align: left !important;

    span.time-ago
    {
      font-size: 11px;
      font-style: italic;
      text-align: right;
      padding-left:10px;
    }

    span.destroy
    {
      float: right;
    }
  }
}
