.post
{
  background-color: #ffffff;
  padding: 10px;
  border:1px solid #e9e9e9;
  border-radius: .2em;
  margin:2rem auto;
  width:90%;

  label.post-user-name
  {
    margin-bottom: -5px;
    font-weight: 500;

    a:hover
    {
      text-decoration: none;
    }
  }
  span.time-ago-post
  {
    font-size: 12px;
    text-transform: capitalize;
  }
  .post-body
  {
    margin-top: 10px;

    img
    {
      width: 100%;
    }

    p.img-caption
    {
      margin-top: 10px;
      // font-size: 13px;
    }
  }

  .post-footer
  {
    background-color: rgb(250, 250, 250);
    padding: 10px;
    margin: 0px -10px -10px;

    .media-body
    {
        text-align: right;
    }

    .like-btn,.unlike-btn
    {
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 0.1em;
      height:30px;
    }
  }

}
